body {
  margin:0px;
  background-image:none;
  position:relative;
  left:0px;
  width:1200px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u225 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:73px;
}
#u225_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:url('../../images/login/u0_state0.jpg');
  background-position:left top;
  background-repeat:no-repeat;
  background-attachment:scroll;
  background-size:cover;
  background-origin:border-box;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u225_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1286px;
}
#u226_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:1286px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(64, 64, 64, 0.129411764705882);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u226_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u228 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:1124px;
  width:1200px;
  height:162px;
}
#u228_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:162px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(22, 22, 22, 1);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u228_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:43px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u229 {
  border-width:0px;
  position:absolute;
  left:505px;
  top:1130px;
  width:215px;
  height:43px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u229_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:51px;
}
#u230 {
  border-width:0px;
  position:absolute;
  left:490px;
  top:1187px;
  width:59px;
  height:51px;
  display:flex;
}
#u230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:48px;
  height:43px;
}
#u231 {
  border-width:0px;
  position:absolute;
  left:588px;
  top:1195px;
  width:48px;
  height:43px;
  display:flex;
}
#u231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:43px;
}
#u232 {
  border-width:0px;
  position:absolute;
  left:678px;
  top:1191px;
  width:47px;
  height:43px;
  display:flex;
}
#u232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:284px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u233 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:1255px;
  width:284px;
  height:24px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u233 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u233_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u234_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Thin', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u234 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:1130px;
  width:1px;
  height:21px;
  display:flex;
  font-family:'Roboto Thin', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:250;
  font-style:normal;
  font-size:18px;
  color:rgba(255, 255, 255, 0.298039215686275);
}
#u234 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u234_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u236 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:73px;
}
#u236_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:73px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-color:rgba(0, 0, 0, 0.0980392156862745);
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u236_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:74px;
}
#u237 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:1px;
  height:73px;
  display:flex;
}
#u237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:74px;
}
#u238 {
  border-width:0px;
  position:absolute;
  left:596px;
  top:0px;
  width:1px;
  height:73px;
  display:flex;
}
#u238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:74px;
}
#u239 {
  border-width:0px;
  position:absolute;
  left:762px;
  top:0px;
  width:1px;
  height:73px;
  display:flex;
}
#u239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u240_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u240 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:0px;
  width:142px;
  height:73px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u240_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u240.mouseOver {
}
#u240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u241_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u241 {
  border-width:0px;
  position:absolute;
  left:424px;
  top:0px;
  width:165px;
  height:73px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u241_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u241.mouseOver {
}
#u241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u242_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u242 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:0px;
  width:165px;
  height:73px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u242_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u242.mouseOver {
}
#u242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u243_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u243 {
  border-width:0px;
  position:absolute;
  left:756px;
  top:0px;
  width:149px;
  height:73px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u243_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u243.mouseOver {
}
#u243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:262px;
  height:41px;
}
#u244 {
  border-width:0px;
  position:absolute;
  left:12px;
  top:16px;
  width:262px;
  height:41px;
  display:flex;
}
#u244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:20px;
}
#u245 {
  border-width:0px;
  position:absolute;
  left:1180px;
  top:27px;
  width:20px;
  height:20px;
  display:flex;
}
#u245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u245_img.mouseOver {
}
#u245.mouseOver {
}
#u245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u246_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:139px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u246 {
  border-width:0px;
  position:absolute;
  left:1041px;
  top:23px;
  width:139px;
  height:23px;
  display:flex;
  font-family:'Roboto', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u246 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u247_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:305px;
  height:49px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:41px;
  color:#777777;
}
#u247 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:85px;
  width:305px;
  height:49px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:41px;
  color:#777777;
}
#u247 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u247_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:185px;
}
#u248 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:900px;
  width:327px;
  height:185px;
  display:flex;
}
#u248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u249_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:353px;
  height:211px;
}
#u249 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:900px;
  width:327px;
  height:185px;
  display:flex;
}
#u249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:185px;
}
#u250 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:900px;
  width:327px;
  height:185px;
  display:flex;
}
#u250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u251_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:353px;
  height:211px;
}
#u251 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:900px;
  width:327px;
  height:185px;
  display:flex;
}
#u251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u252_img {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:353px;
  height:211px;
}
#u252 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:900px;
  width:327px;
  height:185px;
  display:flex;
}
#u252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u253 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:900px;
  width:327px;
  height:185px;
}
#u253_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u253_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u254 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:327px;
  height:30px;
  display:flex;
}
#u254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u253_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u253_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u255 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:327px;
  height:30px;
  display:flex;
}
#u255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256 {
  border-width:0px;
  position:absolute;
  left:437px;
  top:900px;
  width:327px;
  height:185px;
}
#u256_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u256_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u257 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:327px;
  height:30px;
  display:flex;
}
#u257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u256_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u256_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u258 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:327px;
  height:30px;
  display:flex;
}
#u258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u259 {
  border-width:0px;
  position:absolute;
  left:846px;
  top:900px;
  width:327px;
  height:185px;
}
#u259_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u259_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u260 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:327px;
  height:30px;
  display:flex;
}
#u260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u259_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:185px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u259_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:327px;
  height:30px;
}
#u261 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:327px;
  height:30px;
  display:flex;
}
#u261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u262_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:1204px;
  height:714px;
}
#u262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:156px;
  width:1200px;
  height:710px;
  display:flex;
}
#u262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:186px;
  height:266px;
}
#u263 {
  border-width:0px;
  position:absolute;
  left:1014px;
  top:600px;
  width:186px;
  height:266px;
  display:flex;
}
#u263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u264_img {
  border-width:0px;
  position:absolute;
  left:-2px;
  top:-2px;
  width:509px;
  height:17px;
}
#u264 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:134px;
  width:495px;
  height:3px;
  display:flex;
  -webkit-transform:rotate(0.0083640050326023deg);
  -moz-transform:rotate(0.0083640050326023deg);
  -ms-transform:rotate(0.0083640050326023deg);
  transform:rotate(0.0083640050326023deg);
}
#u264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u265_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:220px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u265 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:270px;
  width:228px;
  height:220px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u265_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:220px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u265.mouseOver {
}
#u265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u266_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:226px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u266 {
  border-width:0px;
  position:absolute;
  left:629px;
  top:632px;
  width:113px;
  height:226px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u266_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:226px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u266.mouseOver {
}
#u266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u267_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:146px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u267 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:270px;
  width:226px;
  height:146px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u267_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:146px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u267.mouseOver {
}
#u267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u268_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:554px;
  background:inherit;
  background-color:rgba(37, 142, 250, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u268 {
  border-width:0px;
  position:absolute;
  left:293px;
  top:270px;
  width:224px;
  height:554px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u268_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:224px;
  height:554px;
  background:inherit;
  background-color:rgba(37, 142, 250, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u268.mouseOver {
}
#u268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u269_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:221px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u269 {
  border-width:0px;
  position:absolute;
  left:968px;
  top:270px;
  width:232px;
  height:221px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u269_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:232px;
  height:221px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u269.mouseOver {
}
#u269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u270_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 0, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u270 {
  border-width:0px;
  position:absolute;
  left:742px;
  top:416px;
  width:226px;
  height:262px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u270_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:262px;
  background:inherit;
  background-color:rgba(255, 255, 0, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u270.mouseOver {
}
#u270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u271_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:220px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u271 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:270px;
  width:225px;
  height:220px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u271_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:220px;
  background:inherit;
  background-color:rgba(112, 182, 3, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u271.mouseOver {
}
#u271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u272_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:151px;
  background:inherit;
  background-color:rgba(123, 77, 18, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u272 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:490px;
  width:228px;
  height:151px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u272_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:151px;
  background:inherit;
  background-color:rgba(123, 77, 18, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u272.mouseOver {
}
#u272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u273_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:187px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u273 {
  border-width:0px;
  position:absolute;
  left:65px;
  top:679px;
  width:226px;
  height:187px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u273_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:187px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u273.mouseOver {
}
#u273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u274_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:262px;
  background:inherit;
  background-color:rgba(123, 77, 18, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u274 {
  border-width:0px;
  position:absolute;
  left:517px;
  top:490px;
  width:112px;
  height:262px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u274_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:262px;
  background:inherit;
  background-color:rgba(123, 77, 18, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u274.mouseOver {
}
#u274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u275_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:73px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u275 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:197px;
  width:226px;
  height:73px;
  display:flex;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u275_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:73px;
  background:inherit;
  background-color:rgba(194, 128, 255, 0.533333333333333);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 0px 10px 8px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'Comic Sans MS Normal', 'Comic Sans MS', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u275.mouseOver {
}
#u275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u276_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u276 {
  border-width:0px;
  position:absolute;
  left:28px;
  top:1164px;
  width:142px;
  height:73px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u276_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u276.mouseOver {
}
#u276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u277_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u277 {
  border-width:0px;
  position:absolute;
  left:793px;
  top:1164px;
  width:165px;
  height:73px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u277_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u277.mouseOver {
}
#u277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u278_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u278 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:1164px;
  width:165px;
  height:73px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u278_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u278.mouseOver {
}
#u278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u279_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u279 {
  border-width:0px;
  position:absolute;
  left:1010px;
  top:1164px;
  width:149px;
  height:73px;
  display:flex;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u279_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:149px;
  height:73px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.2);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Roboto Light', 'Roboto Regular', 'Roboto', sans-serif;
  font-weight:300;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u279.mouseOver {
}
#u279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
